body {
  background-image: 
   url("images/Background.jpg");
}

p, h1, h2, h3, h4, h5, h6, li, th, td {
  color: #101554;
}

table, td, th, tr { 
        border: 3px solid black; 
}

div {
  background-color: aliceblue; 
}

a {
  text-decoration: underline;
}

a:hover {
  font-size: 29px;
}

a:visited {
  color: red;
}


#hd {
  padding: 50px;
  margin: 60px 60px 10px 60px; 
  height:120px;
}

#ft {
  height:60px;
  margin: 10px 60px 60px 60px;
  clear:both;
  display:block;
  text-align: center;
  padding:10px;
}

#lnav {
   margin: 10px 10px 10px 60px;
   padding:10px;
}
    
#bd {
  margin: 10px;
  padding:10px;
}

#rnav {
  margin: 10px 60px 10px 10px;
  padding:10px;
} 


.hList {
  margin:0px;
  display:inline;
  margin:0px 10px 10px 0px;
}

.dog {
  float="left";
}

.fire {
  display: inline;
  margin:0px 10px 0px 10px;
}

ABC {
  width:250px;
  height:315px;
}
